# API requirements
flask
flask-script
flask-restplus

# Keyword graph requirements
networkx

# Preproccesing
contractions
# beautifulsoup <--- Install using pip2
bs4
nltk
gensim
pandas

# Test
flask_testing